nav {
 display: flex;
 flex-direction: row;
 background-color: rgb(129, 216, 208);
 margin: 12px;
}

body {
 background-color: coral;
}

form {
 background-color: white;
 border: 1px solid black;
 width: 300px;
 height: 44px;
 border-radius: 5px;
 display: flex;
 flex-direction: row;
}

input {
 all: unset;
 font: 16px system-ui;
 color: black;
 height: 100%;
 width: 100%;
 padding: 6px 10px;
}

::placeholder {
 color: black;
}

button {
 all: unset;
 cursor: pointer;
 width: 44px;
 height: 44px;
}

svg {
 color: black;
 fill: black;
 width: 24px;
 height: 24px;
 padding: 10px;
}

path {
 color: white;
}

#search-img {
 width: 24px;
}

#join-button {
 background-color: white;
 border: 1px solid black;
 width: 100%;
 text-align: center;
 border-radius: 5px;
}

.projects {
 background-color: rgb(129, 216, 208);
 border: 1px black solid;
 border-radius: 5px;
 margin: 12px;
 padding: 12px;
 width: 200px;
}