nav ul {
 color: black;
 text-decoration: none;
}

body {
 background-color: coral;
}

h3 {
 text-align: center;
}

nav {
 display: flex;
 flex-direction: row;
 background-color: rgb(129, 216, 208);
 margin: 12px;
}

body {
 background-color: coral;
}

img {
 width: 100%;
}